@import "../styles/design.scss";

$card-width: 300px;

.Card {
  width: $card-width;

  // order: 2;
  max-height: 500px;
  overflow-y: auto;

  border: 2px solid; 
  border-radius: 10px;
  padding: $gap-md;
  margin: $gap-md;

  transition: .5s ease;

  p {
    width: $card-width - 40px; // width-pad
    margin-left: auto;
    margin-right: auto;
  }

  .hideHover {
    text-align: center;
  }

  .displayHover {
    img {
      width: 100%;
    }

    display: none;
    width: 100%;
    // min-height: 800px;

    border-width: 2px;
    border-radius: 10px;
  }

  hr {
    margin-bottom: $gap-md;
  }
}

.Card:hover {
  // order: 1;
  
  min-width: $card-width;
  width: $card-width + 30px;
  margin-left: 5px;
  margin-right: 5px;

  // background-color: red;

  transition: .5s ease;

  .displayHover {
    display: block;
  }
  .hideHover {
    display: none;
  }
}
