@import "../styles/design.scss";

.Card {
  width: $card-width;

  // order: 2;
  height: $card-height;
  overflow-y: auto;

  border: $border-width solid;
  border-radius: $border-radius;
  padding: $gap-md;
  margin: $gap-md;

  transition: 0.5s ease;

  p {
    width: $card-width - (2 * $gap-md); // width-pad
    margin-left: auto;
    margin-right: auto;
  }

  .hideHover {
    text-align: center;
  }

  .displayHover {
    img {
      width: 100%;

      border-radius: $border-radius;
    }

    display: none;
    width: 100%;
    // min-height: 800px;
  }

  hr {
    margin-bottom: $gap-md;
  }
}

.Card:hover {
  // order: 1;

  min-width: $card-width;
  width: $card-width + $gap-md+10; // Accounts for margins
  margin-left: 5px;
  margin-right: 5px;

  // background-color: red;

  transition: 0.5s ease;

  .displayHover {
    display: block;
  }
  .hideHover {
    display: none;
  }
}
