@import "../styles/design.scss";

.Footer {
  padding: 0 $gap-lg;

  display: flex;
  align-content: center;
  justify-content: space-between;
  align-items: center;

  i {
    font-size: 0.5em;
  }

  h1 {
    line-height: 75%;
  }
}

