@import "../styles/design.scss";

.Header {
  padding: $gap-lg;
  padding-bottom: 0;
  
  line-height: 100px;

  display: flex;
  align-content: center;
  justify-content: space-between;
  align-items: center;

  h1 {
    margin-top: 0;
    line-height: 75%;
    
    i {
      font-size: 0.5em;
    }
  }

  h3 {
    margin-top: 0;
    line-height: 75%;
  }
}