@import './styles/design.scss';

.App {

  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .cardContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
  }

  .footHr {
    margin: $gap-md;
  }
}
